@keyframes shake {
  25% {
    transform: translate3d(-5px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(5px, 0, 0);
  }
}
.signup-section {
  max-width: 320px;
  min-height: 170px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    input {
      padding: 6px;
      width: 100%;
      outline: 0;
      box-sizing: border-box;

      &.error {
        border: 1px solid #aa2121;
        animation: shake 0.2s linear;
        animation-iteration-count: 2;
      }
    }
    .input-feedback {
      margin-top: 10px;
      font-size: 0.9rem;
      height: 1rem;
    }
  }
}
